.Todo {
}

.Todo__description {
  word-break: break-all
}

.Todo__card {
  padding: 12px 30px 12px 12px;
}

.Todo__title {
  font-size: 1.2rem;
}

.Todo__mark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo__doneIcon {
  color: #0c7000;
  cursor: pointer;
}

.Todo__notDoneIcon {
  color: #ff4646;
  cursor: pointer;
}

.Todo_done .Todo__card {
  background-color: #efefef;
  color: gray;
}
