.Todo {
}

.Todo__description {
  word-break: break-all
}

.Todo__card {
  padding: 12px;
  min-height: 70px;
  display: grid;
  grid-template-columns: 1fr 70px;
  overflow: visible !important;
}

.Todo__title {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.Todo__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.Todo__doneIcon {
  color: #0c7000;
}

.Todo__notDoneIcon {
  color: #ff4646;
}

.Todo_done .Todo__card {
  background-color: #efefef;
  color: gray;
}

.Todo__toggle {
  padding: 0 !important;
}

.Todo__progress {
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Todo__remove {
  position: relative;
}
